.root {
    -fx-accent: #ce7b0f;  /* mango */
    -fx-focus-color: derive(-fx-accent, -20%);
    
    /* -fx-base: #373e43;  */
    -fx-base: #222428;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;

    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
}

.text{
    /*-fx-fill: #CCCCE6*/
    -fx-fill: #bbb;
}

.label{
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
    -fx-background-color: derive( -fx-base, 45% );
}

.button:hover{
    -fx-text-fill: white;
}

.button:default {
    -fx-base: -fx-accent ;
}

.dialog-pane .header-panel {
    -fx-background-color: -fx-accent;

}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,35%)
}

.table-view{
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
    -fx-control-inner-background: derive(-fx-base, 35%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
    -fx-text-fill: #3F3; /* Does nothing. FX Bug? */
}

.list-cell:filled:selected:focused {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #F33; /* Does nothing. FX Bug? */
}

.list-cell:filled:selected {
    -fx-background-color: derive(-fx-focus-color, -40%);
    -fx-text-fill: #33F; /* Does nothing. FX Bug? */
}

.toggle-button:selected{
    -fx-base: -fx-accent;
}

.tool-bar {
    -fx-spacing: 6px;
}

#button-icon{
    -fx-padding: 2;
    -fx-border-width: 2;
    -fx-border-insets: 3;
    -fx-border-radius: 3;
;
}

#control-panel-preview-area-heading{
    -fx-font-size: 170%;
    -fx-fill: #ffffff66;
    -fx-font-weight: bold;
}

#control-panel-preview-area-heading-filename{
    -fx-font-size: 130%;
    -fx-fill: #22ff2277;
}

#technology-attributes-table{
    -fx-font-size:70%;
}

#preview-document-dimensions-text{
    -fx-font-size:120%;
}

.md-body{
    -fx-font-family: Arial;
    -fx-fill: #EEEEF2;
}

.md-link{
    -fx-font-weight: bold;
    -fx-fill: #7777F2;
}

.md-heading{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-fill: #DDDDE599;
}

.md-h1{
    -fx-font-size:160%;
}

.md-h2{
    -fx-font-size:150%;

}
.md-h3{
    -fx-font-size:140%;

}
.md-h4{
    -fx-font-size:130%;

}
.md-h5{
    -fx-font-size:120%;

}
.md-h6{
    -fx-font-size:110%;

}

.md-italic{
    -fx-font-style: italic;
}

.md-bold{
    -fx-font-weight: bold;
}